$grey: rgba(255, 255, 255, 0.5);
$pure-white: #fff;
$black: black;
$blue: #190474;
$blue2: #3340cd;
$blue3: #1b29b4;
$purple1: #6f21ab;
$purple2: #b736fc;
$purple3: rgba(117, 28, 206, 0.23);
$purple4: #7c00db;
$purple5: #942fe1;
