@import './colors';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0 px;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-color: $black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}
.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: $black;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}
.section-heading {
	color: $pure-white;
	text-align: center;
	margin: 50px;
	padding: 1em;
	font-size: 3rem;
	&--black {
		color: $black;
	}
	&--end {
		margin: 0;
		margin-top: 100px;
	}
}
.fade-in {
	opacity: 0;
	transition: opacity 1s ease-in;
	&--appear {
		opacity: 1;
	}
}
.mobile-nav {
	&__items {
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		background-color: $black;
		z-index: 100;
		transform: translateX(100%);
		transition: transform 0.8s;
		overflow: hidden;

		&-img {
			position: absolute;
			bottom: 0;
			height: 45vh;
		}
		&--active {
			transform: translateX(0);
		}
	}
	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 150px;
	}
	&__item {
		width: 30%;
		position: relative;
		font-size: 2.5rem;
		text-decoration: none;
		color: $pure-white;
		padding: 0.2em;
		margin: 1em;
		text-align: center;
		font-weight: 100;
		z-index: 100;
	}
	.burger-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;
		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}
		&:focus {
			outline: none;
			border: 1px solid $grey;
			border-radius: 8px;
		}
		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&__bars,
		&__bars::after,
		&__bars::before {
			@include burgerBtn;
		}
		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 60%;
			}
			&::before {
				top: 27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
.mobile-nav-items-animation {
	animation: navItemsAnimation 1s both;
}
.nav {
	display: none;
}

.header {
	height: 200vh;
	@include heroImgs('../img/main-hero.jpg');

	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;

		padding: 2em;
		@include heroImgs('../img/main-hero.jpg');
	}
	&__title {
		width: 100%;
		color: $pure-white;
		font-size: 3.2rem;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		text-shadow: 0px 0px 5px $blue;
	}

	&__img {
		display: none;
		position: absolute;
		top: 50%;
		right: 25%;
		transform: translate(50%, -50%);
		width: 450px;
	}
	&__text {
		width: 100%;
		color: $pure-white;
		text-align: left;
		font-size: 1.75rem;
		margin-bottom: 20px;
		font-weight: 100;
		line-height: 25px;
	}
	&__btns {
		display: flex;
		width: 100%;
	}
	&__btn {
		text-decoration: none;
		background-color: $pure-white;
		margin-right: 15px;
		border-radius: 10px;
		padding: 0.5em 1em;
		color: $black;
		border: 1px solid $pure-white;
		transition: color 0.5s, background-color 0.5s, border 0.5s;
		&:hover {
			background-color: $black;
			color: $pure-white;
		}
		&--two {
			color: $pure-white;
			background-color: transparent;
			&:hover {
				background-color: $pure-white;
				color: $black;
				border: $black;
			}
		}
	}
	&__hero-bottom {
		height: 100vh;
		@include heroImgs('../img/hero.png');
		background-attachment: scroll;
	}
	&__bottom-text {
		height: 100%;
		display: flex;
		justify-content: center;
		justify-content: flex-end;
		flex-direction: column;
		padding: 2em;
		color: $pure-white;
	}
	&__bottom-title {
		font-size: 2rem;
		margin: 5px;
		margin-bottom: 10px;
		font-weight: 100;
	}
	&__bottom-platforms {
		display: flex;

		width: 100%;

		.fa-brands {
			font-size: 1.5rem;
			margin-right: 2px;
		}
		p {
			font-size: 1.5rem;
			font-weight: 100;
			padding: 0.2em;
		}
	}
}

.main {
	.about-game {
		&__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__card {
			background-image: url('../img/main-hero.jpg');
			background-position: center;
			background-size: cover;
			height: 400px;
			max-width: 600px;
			background-attachment: fixed;
			margin-bottom: 2em;
			padding: 2em;
			margin: 2em;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			color: $pure-white;

			&-title {
				text-align: center;
				font-size: 2rem;
				padding: 0.4em;
				margin-bottom: 20px;
			}
			&-text {
				text-align: center;
				font-size: 1.5rem;
				padding: 0.4em;
			}
		}
	}
	.store {
		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__cards-row {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			width: 100%;
		}
		background-color: $pure-white;
		.card {
			background-size: cover;
			background-position: center;
			padding: 15rem 0 0;
			border-radius: 10px;
			width: 250px;
			color: $pure-white;
			transition: transform 0.5s;
			overflow: hidden;
			margin: 2em;
			&--one {
				background-image: url('../img/cover2.jpg');
			}
			&--two {
				background-image: url('../img/cover.png');
			}
			&--three {
				background-image: url('../img/cover3.jpeg');
			}
			&--four {
				background-image: url('../img/cover4.jpg');
			}
			&--five {
				background-image: url('../img/cover6.jpg');
			}
			&--six {
				background-image: url('../img/cover5.jpg');
				margin-bottom: 100px;
			}

			&__content {
				--padding: 1.5em;
				border-radius: 10px;
				padding: var(--padding);
				background: linear-gradient(
					hsl(0 0% 0% /0),
					hsl(20 0% 0%/0.8) 20% hsl(0 0% 0%/1)
				);
			}

			&__title {
				margin-bottom: 30px;
				position: relative;
				width: max-content;
				max-width: 100%;
				&::after {
					content: '';
					position: absolute;
					bottom: -2px;
					left: calc(var(--padding) * -1);
					height: 3px;
					width: calc(100% + var(--padding));
					background-color: $purple1;
					border-radius: 10px;
					transition: transform 0.3s;
					transition-delay: 0.35s;
					transform-origin: left;
				}
			}
			&__price {
				color: $purple2;
				font-size: 1.4rem;
			}
			&__old-price {
				color: $pure-white;
				font-size: 1.3rem;
				margin-left: 5px;
				text-decoration-line: line-through;
			}
			&__btn-box {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				height: 100%;
				margin-top: 20px;
				padding: 0.4em;
			}
			&__btn {
				cursor: pointer;
				background: $pure-white;
				border-radius: 10px;
				padding: 0.5em 1em;
				border: none;
				transition: background 0.5s, color 0.5s;
				&:hover {
					background: $purple1;
					color: $pure-white;
				}
			}
		}
	}

	.hero-box {
		width: 100%;
		height: 100vh;

		.hero {
			position: relative;
			width: 100%;
			height: 100%;
			background-image: url('../img/hero-img.jpg');
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
			&__shadow {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $purple3;
			}
			&__text {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: 100%;
			}
			&__title {
				color: $pure-white;
				font-size: 4rem;
				z-index: 100;
				line-height: 2.5em;
				text-transform: uppercase;
				letter-spacing: 3px;
				text-align: center;
				text-shadow: 2px 2px 5px $black;
			}
		}
	}
	.news {
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__card-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $pure-white;
			padding: 2em;
		}
		&__card-img {
			margin-bottom: 20px;
			align-self: flex-start;
			&--right {
				align-self: flex-end;
			}
		}
		&__card-text {
			text-align: left;
			&--right {
				text-align: right;
			}
		}
		&__card-title {
			text-align: right;
			margin-bottom: 20px;
			&--left {
				text-align: left;
			}
		}
	}
	.media {
		background-color: $pure-white;
		&__card {
			background-color: $purple4;
			display: flex;
			justify-content: space-evenly;
			align-items: left;
			flex-direction: column;
			height: 400px;
			width: 100%;
			padding: 2em;
			color: $pure-white;
			border-radius: 10px 10px 0 0;
			&--two {
				border-radius: 0;
				background-color: $black;
			}
			&--three {
				border-radius: 0;

				background-color: $purple5;
			}
			&--four {
				border-radius: 0;

				background-color: $blue2;
			}
			&--five {
				border-radius: 0;
				background-color: $pure-white;
			}
			&--six {
				border-radius: 0 0 10px 10px;

				background-color: $blue3;
			}
		}
		&__box-column {
			display: flex;
			flex-direction: column;
		}
		&__box-row {
			display: flex;
			flex-direction: column;
		}
		.card {
			margin-bottom: 200px;
			&__top {
				i {
					margin-right: 2px;
				}
				h3 {
					font-size: 2.5rem;
					font-weight: 100;
				}
				&--five {
					color: $black;
				}
			}
			&__middle {
				p {
					font-size: 2.5rem;
					margin-bottom: 20px;
					font-weight: 100;
				}
				h3 {
					font-size: 2.5rem;
				}
				&--five {
					color: $black;
				}
			}
			&__bottom {
				a {
					text-decoration: none;
					color: $black;
					background-color: $pure-white;
					border: 1px solid $pure-white;
					padding: 0.5em 1em;
					border-radius: 10px;
					transition: color 0.5s, background-color 0.5s, border 0.5s;
					&:hover {
						background-color: $black;
						color: $pure-white;
						border: 1px solid $pure-white;
					}
				}
				&--five {
					a {
						color: $pure-white;
						background-color: $black;
						&:hover {
							background-color: $pure-white;
							color: $black;
							border: 1px solid $black;
						}
					}
				}
			}
		}
	}
}

.footer {
	&__box-top {
		height: 40vh;

		background: $black;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: $pure-white;
	}
	.box-top {
		&__title {
			padding: 0.4em 1em;
			font-size: 2.5rem;
			margin-bottom: 10px;
		}
		&__text {
			padding: 0.4em 1em;
			text-align: center;
			margin-bottom: 20px;
		}
		&__label {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.4em 1em;
		}
		&__input {
			margin: 0 10px;
			font-size: 1.5rem;
			border: none;
			border-radius: 10px;
			padding: 0.4em 1em;
			height: 40px;
		}
		&__btn {
			text-transform: uppercase;
			text-align: center;
			background-color: $pure-white;
			border: 1px solid $pure-white;
			padding: 0.4em 1em;
			font-size: 1.5rem;
			border-radius: 10px;
			height: 40px;
			transition: color 0.5s, background-color 0.5s, border 0.5s;
			&:hover {
				background-color: $black;
				color: $pure-white;
				border: 1px solid $pure-white;
			}
		}
	}
}

@media (hover) {
	.main {
		.card {
			&:hover,
			&:hover:focus-within {
				transform: scale(1.05);
			}
			&:hover .card__title::after,
			&:focus-within .card__title::after {
				transform: scaleX(1);
			}

			&:hover .card__content,
			&:focus-within .card__content {
				transform: translateY(0);
				transition-delay: 0.2s;
			}
			&:focus-within .card__content {
				transition-duration: 0s;
			}
			&__title {
				&::after {
					transform: scaleX(0);
				}
			}
			&__content {
				transform: translateY(65%);
				transition: transform 0.5s;
			}
		}
	}
}

@media (min-width: 576px) {
	.header {
		&__box {
			padding: 4em;
		}
		&__title {
			font-size: 4rem;
		}
		&__text {
			font-size: 2rem;
		}
		&__btn {
			font-size: 1.5rem;
			padding: 0.5em 1em;
		}
		&__bottom-title {
			font-size: 2rem;
			margin-bottom: 10px;
		}
		&__bottom-text {
			padding: 4em;
		}
		&__bottom-platforms {
			p {
				font-size: 1.5rem;
				padding: 0.4em;
			}
			.fa-brands {
				font-size: 1.5rem;
				margin-right: 4px;
			}
		}
	}
	.main {
		.store {
			.card {
				width: 400px;
				&__price {
					font-size: 2rem;
				}
				&__old-price {
					font-size: 1.7rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 5rem;
	}
	.header {
		&__text {
			font-size: 2.75rem;
		}

		&__box {
			padding: 4em;
		}
		&__title {
			font-size: 7rem;
		}
		&__btn {
			font-size: 2rem;
			padding: 0.5em 1em;
		}
		&__bottom-title {
			font-size: 3rem;
			margin-bottom: 20px;
		}
		&__bottom-text {
			padding: 4em;
		}
		&__bottom-platforms {
			p {
				font-size: 2rem;
				padding: 0.4em;
			}
			.fa-brands {
				font-size: 2rem;
				margin-right: 4px;
			}
		}
	}
	.main {
		.about-game {
			&__card-title {
				font-size: 3rem;
			}
			&__card-text {
				font-size: 2rem;
			}
		}
		.store {
			.card {
				width: 600px;
				padding: 20rem 0 0;
				&__title {
					font-size: 3rem;
				}
				&__text {
					font-size: 2rem;
				}
				&__btn {
					font-size: 2rem;
				}
			}
		}
		.news {
			&__card-box {
				padding: 3em 6em;
			}
			&__card-text {
				font-size: 2rem;
			}
			&__card-title {
				font-size: 3rem;
				margin-bottom: 40px;
			}
		}
		.media {
			&__card {
				border-radius: 10px 0 0 0;
				&--two {
					border-radius: 0;
				}
				&--three {
					border-radius: 0 10px 0 0;
				}
				&--four {
					border-radius: 0 0 0 10px;
				}
				&--five {
					border-radius: 0;
				}
				&--six {
					border-radius: 0 0 10px 0;
				}
			}
			&__box-row {
				flex-direction: row;
			}
		}
	}
}
@media (min-width: 992px) {
	.header {
		&__title {
			width: 50%;
			align-self: flex-start;
			font-size: 6rem;
		}
		&__text {
			font-size: 2.5rem;
			width: 50%;
			align-self: flex-start;
		}
		&__img {
			display: block;
		}
	}
}
@media (min-width: 1200px) {
	.scroll-margin {
		scroll-margin-top: 120px;
	}
	.mobile-nav {
		display: none;
	}
	.nav {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.5);

		&__items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100vw;
			z-index: 100;
			padding: 0 4em;
			height: 120px;
		}
		&__item-box {
			width: 100%;
		}

		&__item {
			position: relative;
			text-decoration: none;
			color: $pure-white;
			padding: 1em;
			margin: 20px;
			font-size: 2.5rem;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 1px;
				background-color: $pure-white;
				transform: scaleX(0);
				transition: transform 0.3s;
			}
			&:hover::before {
				transform: scaleX(1);
			}
		}
		&__logo {
			width: 200px;
		}
	}
	.header {
		&__title {
			width: 50%;
			font-size: 7rem;
		}
		&__text {
			font-size: 3rem;
		}
		&__img {
			width: 500px;
		}
	}
	.main {
		.about-game {
			&__box {
				flex-direction: row;
			}
		}
		.store {
			&__cards-row {
				flex-direction: row;
			}
			.card {
				width: 600px;
				padding: 20rem 0 0;
				&__title {
					font-size: 2rem;
				}
				&__text {
					font-size: 1.75rem;
				}
				&__btn {
					font-size: 1.75rem;
				}
				&--four {
					margin-bottom: 200px;
				}
				&--five {
					margin-bottom: 200px;
				}
				&--six {
					margin-bottom: 200px;
				}
			}
		}
	}
}
@media (min-width: 1600px) {
	.header {
		&__img {
			width: 700px;
		}
	}
}
